@import-normalize;
@import './home.css';
@import './productpage.css';
@import './cart.css';
@import './navbar.css';
.App {
  text-align: center;
  box-sizing:border-box;
  
  
}

/* .centerValue{
  display:flex;
  
  justify-content: center;
} */

